*.svn
*.class
*.log

.cache/
.history/
.lib/
dist/*
**/*.class

### MacOSX ###
.DS_Store
**/.DS_Store

### Maven ###
target/
.m2/
**/target
**/.m2

### IntelliJ IDEA ###
.idea*
*.iws
*.iml
*.ipr
**/.idea/
**/*.iml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/